<table class="table">
  <thead>
  <tr>
    <th scope="col">Tên DV</th>
    <th scope="col">Số lượng</th>
    <th scope="col">Đơn vị tính</th>
    <th scope="col">Đơn giá</th>
    <th scope="col">Thành tiền</th>
    <th scope="col">Trạng thái</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let service of roomRentalServices">
    <td>{{service?.serviceName}}</td>
    <td>{{service?.quantity}}</td>
    <td>{{service?.unit}}</td>
    <td>{{getPrice(service?.price)}}</td>
    <td>{{getPrice(getTotal(service))}}</td>
    <div *ngIf="!service?.status">
      <td>
        <button class="ml-2 h-25 btn btn-primary" (click)="paymentHandle(service)">Thanh toán</button>
      </td>
    </div>
    <div *ngIf="service?.status">
      <td style="text-align: center">Đã thanh toán</td>
    </div>
  </tr>
  </tbody>
</table>
