<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">

  <!--  Danh sach phong-->
  <mat-tab label="Danh sách phòng">
    <app-room-list></app-room-list>
  </mat-tab>

  <!--  Hang phong phong-->
  <mat-tab label="Hạng phòng">
    <app-room-classification></app-room-classification>
  </mat-tab>

  <!--  Kieu phong-->
  <mat-tab label="Kiểu phòng">
    <app-room-type></app-room-type>
  </mat-tab>

  <!--  Loai phong phong-->
  <mat-tab label="Loại phòng">
    <app-room-kind></app-room-kind>
  </mat-tab>
</mat-tab-group>
