<div class="w-100 bg-color-footer pt-5">
  <footer class="section footer-section">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-3 mb-5">
          <ul class="list-unstyled link">
            <li><a>Về chúng tôi</a></li>
            <li><a>Điều khoản &amp; Điều kiện</a></li>
            <li><a>Chính sách bảo mật</a></li>
            <li class="pointer-cursor" (click)="goToHistoryReservationPage()"><a>Tra cứu lịch sử đặt phòng</a></li>
          </ul>
        </div>
        <div class="col-md-5 mb-5 pr-md-5 contact-info">
          <p>
            <span>Địa chỉ:</span>
            <span> 97 Man Thiện, Hiệp Phú, TP.Thủ Đức, TP.Hồ Chí Minh</span>
          </p>
          <p>
            <span>SĐT:</span>
            <span> (+84) 918909911</span>
          </p>
          <p>
            <span>Email:</span>
            <span> info@domain.com</span>
          </p>
        </div>
      </div>
      <div class="row pt-5">
        <p class="col-md-6 text-left">
          Copyright &copy;<script>document.write(new Date().getFullYear());</script>
          All rights reserved
        </p>

        <p class="col-md-6 text-right social">
          <a><span class="material-symbols-outlined"></span></a>
          <a><span class="material-symbols-outlined"></span></a>
          <a><span class="material-symbols-outlined"></span></a>
          <a><span class="material-symbols-outlined"></span></a>
          <a><span class="material-symbols-outlined"></span></a>
        </p>
      </div>
    </div>
  </footer>
</div>
